@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Italianno&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Smooch+Sans:wght@100..900&family=Tagesschrift&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Cormorant+SC:wght@300;400;500;600;700&family=Italianno&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Smooch+Sans:wght@100..900&family=Tagesschrift&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html, body{
    font-size: clamp(14px, 1.5vw, 18px);
    min-height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    font-size: clamp(2rem, 5vw, 4rem);
    /*1.5rem → tamanho mínimo (em telas pequenas)
    5vw → tamanho flexível (ajusta conforme a tela)
    3rem → tamanho máximo (em telas grandes*/
    font-family: "Ubuntu", sans-serif;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
header p{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.6;
    padding-bottom: 50px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}


a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 35px;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: black;
    color: white;
    box-shadow: inset 8px 8px 15px 0px rgba(0, 0, 0, 0.527);
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.295);
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.671);
}
section > p{
    padding-bottom: 14px;
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}